@import '../../../index.scss';


.courses-info {
    margin-top: 50px;
    margin-bottom: 100px;

    &__title {
        text-align: center;
        

        h2 {
            font-size: 32px;
            color: $font-grey-light;
        }

        h3 {
            font-size: 25px;
            color: $font-grey-light;
        }
    }

    .row-cards {
        .ant-col {
            padding: 15px;
        }
    }

    &__card {
        border: none;
        text-align: center;
        background-color: $background-dark-light-web;
        overflow: hidden;
        box-shadow: 0,0,10px 2px rgba(0,0,0,0.2);
        border-radius: 5px;

        .anticon {
            font-size: 45px;
            margin-bottom: 20px;
        }

        .ant-card-body {
            min-height: 275px;
        }

        .ant-card-meta-detail {
            .ant-card-meta-title {
              color: white;
              font-size: 25px;
              font-weight: bold;
              font-size: 18px;
            }
            .ant-card-meta-description {
              color: $primary-color-dark;
              color: $font-grey-dark;
            }
          }
    }
}