@import '../../../index.scss';

.footer {
    

    &.ant-layout-footer {
        background-color: $blue;
    }

   &__footer {
    color: $yellow !important;
    margin-top: 30px;
    display: flex;
    align-items: center;
    justify-content: space-around;
   }

    &__credit {
        color: $yellow;
    }
}